

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore pip installer scripts
get-pip.py

# Ignore build and environment files
*.egg-info/
dist/
build/
*.log

# Ignore OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/